*
!Dockerfile
!Dockerfile.prober
!package.json
!package-lock.json
!LICENSE
!NOTICE
!src/
!src/**
!public/
!public/**
!migrations/
!migrations/**
!container/
!container/package.json
!container/server.mjs
!container/transport.mjs
!container/app-entrypoint.sh
